[user]
	email = perso@aerion.me
	name = Guillaume Taquet Gasperini
[pull]
	rebase = true
[core]
	autocrlf = input
	pager = delta
	editor = micro

[interactive]
	diffFilter = delta --color-only
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
